Registrate User

Authorization -> User 


Customer:
- see goods and information about them
- add goods to cart
- create arder

Moderator:
- CRUD  goods
-view actions
-ban/unban users
-view all client


Admin:
- add Moderators
- CRUD  Moderators
	Users


